body {
  font-family: 'helvetica neue', arial, sans-serif;
  background-size: 300px;
  background-repeat: repeat;
}
#wrapper {
  width: 800px;
  margin: 0 auto 0 auto;
  padding: 10px 20px 20px 20px;
  background-color:#e5f6ff;
}
h1 {
	color:#0C31AB;
	font-size:46px;
	text-align: center;
	text-shadow: 2px 2px 2px #8A8E9C;
	line-height:20px;
}

