body {
  font-family: 'helvetica neue', arial, sans-serif;
  background-image: url(background-snowflake.jpg);
  background-size: 300px;
  background-repeat: repeat;
}
#wrapper {
  width: 800px;
  margin: 0 auto 0 auto;
  padding: 10px 20px 20px 20px;
  background-color:#e5f6ff;
}
h1 {
	color:#0C31AB;
	font-size:46px;
	text-align: center;
	text-shadow: 2px 2px 2px #8A8E9C;
	line-height:20px;
}
h2 {
	color:#0C31AB;
	font-size: 38px;
	text-align: center;
	font-variant:small-caps;
	line-height:5px;
}
h3 {
	color:#8A8E9C;
	font-size: 18px;
	font-weight:lighter;
	font-style: italic;
	text-align: center;
	line-height:10px;
}
.subheader {
	color:#0C31AB;
	font-size: 20px;
	text-align: center;
	text-shadow: 1px 1px 1px #8A8E9C;
	line-height:70%;
}
.excited {
	color:#8019CF;
	font-size:20px;
	font-style: italic;
	text-align: center;
	display: block;
	margin-left: auto;
    margin-right: auto;
}
#coverphoto {
	border-style:inset;
	border-width:5px;
	border-color:#8A8E9C;
	display: block;
	margin-left: auto;
    margin-right: auto;
}#photoalbum {
	color:#8019CF;
	font-style:italic;
	text-align:center;
}
