body {
  font-family: 'helvetica neue', arial, sans-serif;
  background-image: url(images/background-snowflake.jpg);
  background-size: 300px;
  background-repeat: repeat;
}
#wrapper {
  width: 800px;
  margin: 0 auto 0 auto;
  padding: 10px 20px 20px 20px;
  background-color:#e5f6ff;
}
h1 {
	color:#0C31AB;
	font-size:46px;
	text-shadow: 2px 2px 2px #8A8E9C;
	line-height:20px;
}
h2 {
	color:#0C31AB;
	font-size: 38px;
	text-align: center;
	font-variant:small-caps;
	line-height:5px;
}
h3 {
	color:#8A8E9C;
	font-size: 18px;
	font-weight:lighter;
	font-style: italic;
	text-align: center;
	line-height:10px;
}
.navbar-inverse {
    background-image:url(https://tippingpoint.org/-/img/header-bg.png);
    border:none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 124px;
}
.container {
	margin-top:124px;
}
.navbar-nav {
	text-transform: uppercase;
    text-decoration: none;
    color: #00ab69;
    margin: 0 0 0 38px;
    text-shadow: 0 1px 0 #fff;
    font-family: 'Oswald', sans-serif;	
}
