body {
  font-family: 'Montserrat', sans-serif;
  font-size:16px;
  font-color:black;
  background-color:black;
  background-image:url("images/battle.jpg");
  background-size:100%;
}
h1 {
	color:#6208A6;
  font-family: 'Covered By Your Grace', cursive;
	font-size:100px;
  text-shadow:2px 2px 2px black;
  line-height:70px;
}
h2 {
	font-size: 20px;
  font-weight:bold;
}
.container {
	background-color:white;
  opacity: 0.7;
  max-width:900px;
  padding: 10px 20px 20px 20px;

}
.header {
  text-align:center;
}